/* style pour le document */
/* @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Rye&family=Stardos+Stencil:wght@400;700&display=swap'); */

h1 {
    text-align: center;
    padding-top:20px;
    font-family: 'Stardos Stencil';
    font-size:26px;
    text-transform: uppercase;
}


/* style pour le header */
.header {
   padding-bottom:5px;
   border-bottom: 1px solid black;
}

.navbar {
    background-color: rgba(245, 216, 163, 0.904);
    background-image: url('img/background_header_desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height:250px;
        
} 

 .container {
    flex-direction: column; 
    padding-left: 500px 
} 



@media (max-width:768px) {
    .navbar {
        /* background-image: url('img/background_header_mobile.png'); */
        background-position: left center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height:180px
    } 
     .navbar-collapse {

        position: absolute;
        top: 50%;
        right: 0;
        background: rgba(245,216,163,.97);
        padding: 1rem;
        border-radius: 0 0 0 10px;
        min-width: 220px;
        z-index: 999;
    }
     .navbar-nav {
        align-items: flex-end;
    }

     .container {
        flex-direction: column; 
        padding-left: 10px
    } 
     /*bouton du header uniquement  */
     header>nav>.container>div>.btn.btn-outline-primary {
        position:absolute;
        right:0;
        top:50%;
        padding-top:1rem;
        
    } 


    
}


/* 
.nom_societe {
    font-size: 20px;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
} */

.nav-item>a {
    font-size:26px;
}

/* style section accueil */
#accueil {
    background-color: rgba(214, 120, 32, 0.884);
    padding-top: 2px;
    
}
#imageaccueil:hover {
    cursor:url('./img/icon_guepe.png')16 16, auto;
}

/* style section nos services */
#nosservices {
    background-color: rgb(236, 194, 143);
    height:50vh;
    
 
}
#nosservices>ul>li {
    list-style: inside;
}

/* style section galerie */
#galerie {
    background-color: rgb(248, 248, 206);
 
}
 @media(max-width:768px) {
    #galerie img {
        width: 100px;
        height:130px
    } 

}  

@media(min-width:768px) {
    #galerie img {
        width: 200px;
        height:267px 
     } 
    
 }  

/* style section contact */

#contact {
    border-top: 1px solid black;
}
li {
    list-style: none;
    
}

/* style section footer */
footer {
    /* background: rgba(241, 172, 42, 0.904); */
    background-image: url('img/background_footer.png');
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;

}

.bi {
    width:22px;
    height:22px
}

p {
    /* enlève les marges pour p */
    margin: 0;
    font-size: 14px;
}

/* responsive footer */
@media(max-width:768px) {
    .footer #nom_societe  {
        font-size:14px 
     } 

     footer {
        height: 50vh;
     }
     footer img {
        width:100px;
        height:10vh
     }
    
     p{
        font-size: 12px;
     }
 } 
