/* style pour le document */
/* @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Rye&family=Stardos+Stencil:wght@400;700&display=swap'); */

h1 {
    text-align: center;
    padding-top:20px;
    font-family: 'Stardos Stencil';
    font-size:26px;
    text-transform: uppercase;
}

.img-header {
    
    background-image: url('img/header_footer/background_header_desktop.png');
    background-size: cover;
    background-position: center ;
    height:320px;
    position:relative;
    /* margin-bottom: 0.5rem; */
        
}  
/* position des éléments du menu */
.img-header .navbar {
    position: absolute;
    top:0;
    width:100%;
   
}

/* position du num tél */
.btn-tel{
    position:absolute; 
    top:50;
    left:150;
    /* width:100%; */
}

.nav-link {
    color:#44230d;
    font-weight: bold;
    /* font-size:1.5rem; */
    margin: 0 .8rem
}

.nav-link:hover {
    color:#b35b00

}
/* display pour tablette et PC */
@media (max-width:992px) {
    .nav-link {
        font-size:1rem;
    }

}

/* display pour tél mobile */
@media (max-width:768px) {
    .img-header{
        background-image: url('img/header_footer/background_header_mobile.webp'); 
        height:300px;
    }  
    nav   {
        background-color: rgba(245,216,163,.80);
    }

      .btn {
        font-size:.9rem;
    }

  
}

.nom_societe {
    font-size: 20px;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    
} 

/* .nav-item>a {
    font-size:26px;
} */

/* style section accueil */
#accueil {
    background-color: rgba(214, 120, 32, .884);
    padding-top: 2px;
    
}
#imageaccueil:hover {
    cursor:url('./img/icon_guepe.png')16 16, auto;
}

/* style section nos services */
#nosservices {
    background-color: rgb(236, 194, 143);
    padding:40px 0;
    
 
}
#nosservices>ul>li {
    list-style: inside;
}

/* style section galerie */
.gallery {
    background-color: rgb(247, 247, 239);
 
}


/* style section contact */

#contact {
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(128, 127, 127);
}
li {
    list-style: none;
    
}


/* style section footer */

footer {
    border-top:1px solid black;
    background-image: url('img/header_footer/background_footer_desktop.png');
    background-size: cover;
    background-position: center;
    min-height: 300px;
 
  
}

.bi {
    width:22px;
    height:22px
}

p {
    /* enlève les marges pour p */
    /* margin: 0; */
    /* font-size: 14px; */
}

/* responsive footer */
@media(max-width:768px) {
    footer {
        background-image: url('img/header_footer/background_footer_mobile.jpg'); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
    }

     /* p{
        font-size: 12px;
     } */
 } 
